.header{
    background-color:black;
   
}
body{
    background-color:grey;
}
h1{
    color:white;
   
}
h1,ul,li{
    display: inline;

}
ul{
    margin-left: 65%;
    color: white;
    
}

li:hover{
    color: grey;
    cursor: pointer;
}
.searchbar{
    padding: 50px;
    text-align: center;

}
input{
    width: 90%;
    padding: 10px;
    background-color: blanchedalmond;
}
.box{
    border-style: solid;
    border-color: black;
    border-width: 10px;
    display: inline-block;
    width: 150px;
    height: 300px;
    background-color: black;
    color: white;
   }
   .products{
    text-align: center;
 
   }
   img{
    width: 150px;
    height: 100px;
  
   }

   p:hover{
    color: green;
   }
   .footer{
    margin-top: 50px;
    text-align: center;
   }
   .contact{
        text-align: center;
        background-color: black;
        color: white;
   }
